<section class="news">
  <h2>Noticias</h2>

  <ng-container *ngIf="!contentHtml; else detail">
    <ul>
      <li *ngFor="let item of items">
        <a (click)="open(item)">{{ item.title }} <small>- {{ item.date }}</small></a>
      </li>
    </ul>
    <p *ngIf="items.length === 0" class="empty">No hay noticias. Añade archivos Markdown en <code>src/assets/content/news</code>.</p>
  </ng-container>

  <ng-template #detail>
    <article class="news-detail">
      <h3>{{ title }}</h3>
      <div [innerHTML]="contentHtml"></div>
      <p><a routerLink="/noticias">Volver a la lista</a></p>
    </article>
  </ng-template>
</section>
